{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard - NIDS 2025</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{% static 'dashbord.css' %}">    
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-blue" style="border-bottom: 1px solid; box-shadow: 0px 4px 8px 0px rgba(12, 147, 226, 0.3);">

<img src="../static/new.jpg" width="" height="" class="d-inline-block align-top" alt="">
<h1>INTRUSION DETECTION SYSTEM 2025</h1>

</nav>
<div style="display: flex; justify-content: end; font-size: x-large; margin-right: 10px; align-items: end;">
    <div class="btn btn-info" style="margin: 10px;"><i class="bi bi-shield-check"></i> Predict</div>
    <div class="btn btn-info" style="margin: 10px;"><i class="bi bi-upload"></i> <input type="file" name="" id="" value="Upload"></div>
    <a href="{% url  'logout' %}"><div class="btn btn-info" style="margin: 10px;"><i class="bi bi-box-arrow-right"></i> Logout</div></a>
</div>
{% sweetify %}
<div class="f-all">
            <div class="cont">
            <form class="row g-4">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Package Size</label>
                    <input type="email  " class="form-control" id="inputEmail4" placeholder="0 / 1" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Protocol_in_null</label>
                    <input type="email" class="form-control" id="inputPassword4" placeholder="TCP, UDP" required>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Netsh_num</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1/24" required>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Connect_bytes</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="0-9" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Bit_elapse</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="0-9" required>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Time_rate</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="1-0" required>
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Packs</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="0-1" required>
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Wrong_dst</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="e.g 1234" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Rush</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="number of urgent packets" required>
                </div>
            </form>
            </div>

            <div class="cont">
            <form class="row g-3" method="post">
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Duration</label>
                    <input type="email  " class="form-control" name="duration" id="inputEmail4" placeholder="length (number of seconds) of the connection" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Protocol_type</label>
                    <input type="email" name="protocol_type" class="form-control" id="inputPassword4" placeholder="type of the protocol, e.g, TCP, UDP" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Service</label>
                    <input type="text" name="service" class="form-control" id="inputAddress" placeholder="network service on the destination, e.g., HTTP, telnet" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Src_bytes</label>
                    <input type="text" name="src_bytes" class="form-control" id="inputAddress2" placeholder="number of data bytes from source to destination" required>
                </div>
                <div class="col-12">
                    <label for="inputCity" class="form-label">Dst_bytes</label>
                    <input type="text" name="dst_bytes" class="form-control" id="inputCity" placeholder="number of data bytes from destination to source" required>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Flag</label>
                    <input type="text" name="flag" class="form-control" id="inputCity" placeholder="normal or error status of the connection" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Land</label>
                    <input type="text" name="land" class="form-control" id="inputZip" placeholder="add 1 for host/port; 0 otherwise" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Wrong_fragment</label>
                    <input type="text" name="wrong_fragment" class="form-control" id="inputZip" placeholder="number of ``wrong'' fragments" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Ugent</label>
                    <input type="text" name="urgent" class="form-control" id="inputZip" placeholder="number of urgent packets" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Hot</label>
                    <input type="email" name="hot" class="form-control" id="inputEmail4" placeholder="number of ``hot'' indicators" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Num_failed_logins</label>
                    <input type="email" name="num_failed_logins" class="form-control" id="inputPassword4" placeholder="number of failed login attempts" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Logged_in</label>
                    <input type="text" name="logged_in" class="form-control" id="inputAddress" placeholder="number of ``compromised'' conditions" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Root_shell</label>
                    <input type="text" name="root_shell" class="form-control" id="inputAddress2" placeholder="1 if root shell is obtained; 0 otherwise" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Su_attempted</label>
                    <input type="text" name="su_attempted" class="form-control" id="inputCity" placeholder="1 if ``su root'' command attempted; 0 otherwise	" required>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Num_root</label>
                    <input type="text" name="num_root" class="form-control" id="inputCity" placeholder="number of ``root'' accesses" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Num_file_creations</label>
                    <input type="text" name="num_file_creations" class="form-control" id="inputZip" placeholder="number of file creation operations" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Num_shells</label>
                    <input type="text" name="num_shells" class="form-control" id="inputZip" placeholder="number of shell prompts" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Num_access_files</label>
                    <input type="text" name="num_access_files" class="form-control" id="inputZip" placeholder="number of files access" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Num_outbound_cmds</label>
                    <input type="text" name="num_outbound_cmds" class="form-control" id="inputZip" placeholder="number of outbound commands in an ftp session" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Is_hot_login</label>
                    <input type="text" name="is_hot_login" class="form-control" id="inputZip" placeholder="1 if the login belongs to the ``hot'' list; 0 otherwise" required>
                </div>
                <div class="col-md-4">
                    <label for="inputZip" class="form-label">Is_guest_login</label>
                    <input type="text" name="is_guest_login" class="form-control" id="inputZip" placeholder="1 if the login is a ``guest''login; 0 otherwise" required>
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Count</label>
                    <input type="email" name="count" class="form-control" id="inputEmail4" placeholder="number of connections to the same host in 2sec" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Serror_rate</label>
                    <input type="email" name="serror_rate" class="form-control" id="inputPassword4" placeholder="% of connections that have ``SYN'' errors" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Rerror_rate</label>
                    <input type="text" name="rerror_rate" class="form-control" id="inputAddress" placeholder="% of connections that have ``REJ'' errors" required>
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Same_srv_rate</label>
                    <input type="text" name="same_srv_rate" class="form-control" id="inputAddress2" placeholder="% of connections to the same service" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Diff_srv_rate</label>
                    <input type="text" name="diff_srv_rate" class="form-control" id="inputCity" placeholder="% of connections to different services" required>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Srv_count</label>
                    <input type="text" name="srv_count" class="form-control" id="inputCity" placeholder="number of connections to the same service" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Srv_serror_rate</label>
                    <input type="text" name="srv_serror_rate" class="form-control" id="inputCity" placeholder="% of connections that have ``SYN'' errors" required>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Srv_rerror_rate</label>
                    <input type="text" name="srv_rerror_rate" class="form-control" id="inputCity" placeholder="number of connections to the same service" required>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Srv_diff_host_rate</label>
                    <input type="text" name="srv_diff_host_rate" class="form-control" id="inputCity" placeholder="% of connections to different hosts" required>
                </div>
                <div class="col-12">
                    <!-- <input > -->
                    <button type="submit" class="form-control btn btn-danger mt-3" id="inputCity" value="Check Packet">
                        <i class="bi bi-shield-check"></i> Check Packet
                    </button>
                </div>
            </form>
            </div>
</div>
</body>
</html>