{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard - NIDS 2025</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{% static 'dashbord.css' %}">    
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-blue" style="border-bottom: 1px solid; box-shadow: 0px 4px 8px 0px rgba(12, 147, 226, 0.3);">

<img src="../static/new.jpg" width="" height="" class="d-inline-block align-top" alt="">
<h1>INTRUSION DETECTION SYSTEM 2025</h1>

</nav>
<div style="display: flex; justify-content: end; font-size: x-large; margin-right: 10px; align-items: end;">
    <div class="btn btn-info" style="margin: 10px;"><i class="bi bi-shield-check"></i> Predict</div>
    <a href="{% url 'upload_csv' %}"><div class="btn btn-info" style="margin: 10px;"><i class="bi bi-upload"></i> Upload</div></a>
    <a href="{% url  'logout' %}"><div class="btn btn-info" style="margin: 10px;"><i class="bi bi-box-arrow-right"></i> Logout</div></a>
</div>
{% sweetify %}
<div class="f-all">
            <div class="cont">
            <form class="row g-4">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Package Size</label>
                    <input type="number" class="form-control" id="inputEmail4" placeholder="0 / 1" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Protocol_in_null</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="TCP, UDP" required>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Netsh_num</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1/24" required>
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Connect_bytes</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="0-9" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Bit_elapse</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="0-9" required>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Time_rate</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="1-0" required>
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Packs</label>
                    <input type="number" class="form-control" id="inputZip" placeholder="0-1" required>
                </div>
                <div class="col-md-6">
                    <label for="inputZip" class="form-label">Wrong_dst</label>
                    <input type="number" class="form-control" id="inputZip" placeholder="e.g 1234" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Rush</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="number of urgent packets" required>
                </div>
            </form>
            </div>

            <div class="cont">
            <form class="row g-3" method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Duration</label>
                    <input type="number" class="form-control" name="duration" id="inputEmail4" placeholder="length (number of seconds) of the connection" required>
                </div>
               
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Protocol_type</label>
                    <select class="form-control" name="protocol_type" required>
                        <option value="">-- Select Protocol --</option>
                        <option value="tcp">tcp</option>
                        <option value="udp">udp</option>
                        <option value="icmp">icmp</option>
                    </select>
                </div>

                <div class="col-12">
                    <label for="inputAddress" class="form-label">Service</label>
                    <select class="form-control" name="service" required>
                        <option value="">-- Select Service --</option>
                        <option value="aol">aol</option>
                        <option value="auth">auth</option>
                        <option value="bgp">bgp</option>
                        <option value="courier">courier</option>
                        <option value="csnet_ns">csnet_ns</option>
                        <option value="ctftp">ctftp</option>
                        <option value="daytime">daytime</option>
                        <option value="discard">discard</option>
                        <option value="domain">domain</option>
                        <option value="domain_u">domain_u</option>
                        <option value="echo">echo</option>
                        <option value="ecr_i">ecr_i</option>
                        <option value="eco_i">eco_i</option>
                        <option value="efs">efs</option>
                        <option value="exec">exec</option>
                        <option value="finger">finger</option>
                        <option value="ftp">ftp</option>
                        <option value="ftp_data">ftp_data</option>
                        <option value="gopher">gopher</option>
                        <option value="http">http</option>
                        <option value="http_443">http_443</option>
                        <option value="imap4">imap4</option>
                        <option value="IRC">IRC</option>
                        <option value="iso_tsap">iso_tsap</option>
                        <option value="klogin">klogin</option>
                        <option value="kshell">kshell</option>
                        <option value="ldap">ldap</option>
                        <option value="link">link</option>
                        <option value="login">login</option>
                        <option value="mtp">mtp</option>
                        <option value="name">name</option>
                        <option value="netbios_dgm">netbios_dgm</option>
                        <option value="netbios_ns">netbios_ns</option>
                        <option value="netbios_ssn">netbios_ssn</option>
                        <option value="netstat">netstat</option>
                        <option value="nnsp">nnsp</option>
                        <option value="nntp">nntp</option>
                        <option value="ntp_u">ntp_u</option>
                        <option value="other">other</option>
                        <option value="pm_dump">pm_dump</option>
                        <option value="pop_2">pop_2</option>
                        <option value="pop_3">pop_3</option>
                        <option value="printer">printer</option>
                        <option value="private">private</option>
                        <option value="red_i">red_i</option>
                        <option value="remote_job">remote_job</option>
                        <option value="rje">rje</option>
                        <option value="shell">shell</option>
                        <option value="smtp">smtp</option>
                        <option value="sql_net">sql_net</option>
                        <option value="ssh">ssh</option>
                        <option value="sunrpc">sunrpc</option>
                        <option value="supdup">supdup</option>
                        <option value="systat">systat</option>
                        <option value="telnet">telnet</option>
                        <option value="tftp_u">tftp_u</option>
                        <option value="tim_i">tim_i</option>
                        <option value="time">time</option>
                        <option value="urh_i">urh_i</option>
                        <option value="urp_i">urp_i</option>
                        <option value="uucp">uucp</option>
                        <option value="uucp_path">uucp_path</option>
                        <option value="vmnet">vmnet</option>
                        <option value="whois">whois</option>
                        <option value="X11">X11</option>
                        <option value="Z39_50">Z39_50</option>
                    </select>
         
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Src_bytes</label>
                    <input type="number" name="src_bytes" class="form-control" id="inputAddress2" placeholder="number of data bytes from source to destination" required>
                </div>
                <div class="col-12">
                    <label for="inputCity" class="form-label">Dst_bytes</label>
                    <input type="text" name="dst_bytes" class="form-control" id="inputCity" placeholder="number of data bytes from destination to source" required>
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Flag</label>
                     <select class="form-control" name="flag" required>
                        <option value="">-- Select Flag --</option>
                        <option value="SF">SF</option>
                        <option value="S0">S0</option>
                        <option value="REJ">REJ</option>
                        <option value="RSTR">RSTR</option>
                        <option value="RSTO">RSTO</option>
                        <option value="SH">SH</option>
                        <option value="S1">S1</option>
                        <option value="S2">S2</option>
                        <option value="S3">S3</option>
                        <option value="OTH">OTH</option>
                        <option value="RSTOS0">RSTOS0</option>
                    </select>

                </div>

                <div class="col-12">
                    <label for="inputZip" class="form-label">Wrong_fragment</label>
                    <input type="number" name="wrong_fragment" class="form-control" id="inputZip" placeholder="number of ``wrong'' fragments" required>
                </div>
                <div class="col-12">
                    <label for="inputZip" class="form-label">Ugent</label>
                    <input type="text" name="urgent" class="form-control" id="inputZip" placeholder="number of urgent packets" required>
                </div>
                
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Count</label>
                    <input type="number" name="count" class="form-control" id="inputEmail4" placeholder="number of connections to the same host in 2sec" required>
                </div>
                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Serror_rate</label>
                    <input type="number" name="serror_rate" class="form-control" id="inputPassword4" placeholder="% of connections that have ``SYN'' errors">
                </div>
                <div class="col-12">
                    <label for="inputAddress" class="form-label">Rerror_rate</label>
                    <input type="text" name="rerror_rate" class="form-control" id="inputAddress" placeholder="% of connections that have ``REJ'' errors">
                </div>
                <div class="col-12">
                    <label for="inputAddress2" class="form-label">Same_srv_rate</label>
                    <input type="number" name="same_srv_rate" class="form-control" id="inputAddress2" placeholder="% of connections to the same service">
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Diff_srv_rate</label>
                    <input type="number" name="diff_srv_rate" class="form-control" id="inputCity" placeholder="% of connections to different services">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Srv_count</label>
                    <input type="number" name="srv_count" class="form-control" id="inputCity" placeholder="number of connections to the same service" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">Srv_serror_rate</label>
                    <input type="number" name="srv_serror_rate" class="form-control" id="inputCity" placeholder="% of connections that have ``SYN'' errors">
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Srv_rerror_rate</label>
                    <input type="number" name="srv_rerror_rate" class="form-control" id="inputCity" placeholder="number of connections to the same service">
                </div>
                <div class="col-12">
                    <label for="inputState" class="form-label">Srv_diff_host_rate</label>
                    <input type="text" name="srv_diff_host_rate" class="form-control" id="inputCity" placeholder="% of connections to different hosts">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Dst_host_count</label>
                    <input type="number" name="dst_host_count" class="form-control" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_srv_count</label>
                    <input type="number" name="dst_host_srv_count" class="form-control" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_same_srv_rate</label>
                    <input type="number" name="dst_host_same_srv_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_diff_srv_rate</label>
                    <input type="number" name="dst_host_diff_srv_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_same_src_port_rate</label>
                    <input type="number" name="dst_host_same_src_port_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_srv_diff_host_rate</label>
                    <input type="number" name="dst_host_srv_diff_host_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_serror_rate</label>
                    <input type="number" name="dst_host_serror_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_srv_serror_rate</label>
                    <input type="number" name="dst_host_srv_serror_rate" class="form-control" step="any">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Dst_host_rerror_rate</label>
                    <input type="number" name="dst_host_rerror_rate" class="form-control" step="any">
                </div>

                <div class="col-12">
                    <label class="form-label">Dst_host_srv_rerror_rate</label>
                    <input type="number" name="dst_host_srv_rerror_rate" class="form-control" step="any">
                </div>

                <div class="col-12">
                    <!-- <input > -->
                    <button type="submit" class="form-control btn btn-danger mt-3" id="inputCity" value="Check Packet" aria-required="true">
                        <i class="bi bi-shield-check"></i> Check Packet
                    </button>
                </div>
            </form>
            </div>
</div>
</body>
</html>