{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">

</head>
<body>
    
<!-- Page Loader -->
<div id="loader-wrapper" style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0a0f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
">
    <div class="spinner-border text-info" role="status" style="width: 5rem; height: 5rem; filter: drop-shadow(0 0 20px #00eaff);">
    </div>
</div>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Reset Your Password!</h3>
        {% sweetify %}
        <form method="post">
            {% csrf_token %}
            <div class="inputBox">
                 <input type="text" name="update" placeholder="Enter New Password" required>
            </div> 
                <input type="submit" value="Reset Password">
        </form> 
        <div class="text-center">
            <p style="color: #e9e1f1;"><a href="{% url 'login' %}">Login</a></p>
        </div>
        <div class="text-center">
            <p style="color: #e9e1f1;"><a href="{% url 'signup' %}">Sign-Up</a></p>
        </div>
        
    </div>

<script>
    window.addEventListener("load", function() {
        const loader = document.getElementById("loader-wrapper");
        loader.style.opacity = "0";
        loader.style.transition = "opacity 0.5s ease";

        setTimeout(() => {
            loader.style.display = "none";
        }, 500);
    });
</script>
</body>
</html>