{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">


</head>
<body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
        <h3>Sign in here</h3>
        {% sweetify %}
        <form method="post">
            {% csrf_token %}
            <div class="inputBox">
                 <input type="text" name="username" placeholder="Username" required>
                 <input type="password" name="password" placeholder="Password" required> 
            </div> 
                <input type="submit" value="Login">
        </form> 
        <a href="{% url 'forget_password' %}">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: #e9e1f1;"><a href="{% url 'signup' %}">Sign-Up</a></p>
        </div>
        
    </div>
</body>
</html>