{% load static %}
{% load sweetify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload CSV Here</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'result.css' %}">
    <link rel="icon" type="image/x-icon" href="../static/new.jpg">

    <style>

        form {
            padding: 20px;
        }

        input[type="file"] {
            margin-bottom: 10px;
            transform: scale(1.05); 
            background-color: #15756d;
            transition: transform 0.2s ease;
        }
    </style>

</head>
<body>
    {% sweetify %}
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-blue" style="border-bottom: 1px solid; box-shadow: 0px 4px 8px 0px rgba(12, 147, 226, 0.3); margin-bottom: 40px; height: 20%;">

    <img src="../static/new.jpg" class="d-inline-block align-top" alt="">
    <h1 class="m">INTRUSION DETECTION SYSTEM 2025</h1>

    </nav>

        <div class="result-box safe-box">
            <h1><i class="bi bi-upload"></i> UPLOAD CSV FILE HERE</h1>
            <form action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="csv_file" class="form-control" required>
                <button class="btn btn-info mt-2">Upload CSV</button>
            </form>

        </div>

    <div class="text-center">
        <a href="{% url 'dashboard' %}" class="btn btn-info btn-back">⬅ Back to Dashboard</a>
    </div>

</body>
</html>
