body {
            background: #0b0f1a;
            color: #22A7F0;
            font-family: Arial, sans-serif;
            padding-top: 50px;
        }

        .result-box {
            width: 70%;
            margin: auto;
            border-radius: 15px;
            padding: 40px;
            text-align: center;
            box-shadow: 0px 0px 20px rgba(0,255,255,0.2);
        }

        .safe-box {
            background: rgba(0, 255, 0, 0.15);
            border: 2px solid #00ff00;
            box-shadow: 0px 0px 15px #00ff00;
        }

        .attack-box {
            background: rgba(255, 0, 0, 0.15);
            border: 2px solid #ff0000;
            box-shadow: 0px 0px 15px #ff0000;
        }

        h1 {
            font-size: 45px;
            margin-bottom: 15px;
        }

        .btn-back {
            margin-top: 30px;
            font-size: 20px;
            padding: 10px 25px;
        }

        .m {
            margin-right: 72rem;
        }

        img {
            height: 10rem;
        }